Repository rucio/rucio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bari12, @mlassnig, @joeldierkes, @dchristidis, @cserf, @bziemons, @maany, @rcarpa

Try label
  lib/rucio/daemons/cache/consumer.py
Owners: none

Replicas: fix geoip sorting. Closes #5133
  lib/rucio/core/replica_sorter.py
  lib/rucio/tests/inputs/GeoLite2-City-Test.tar.gz
  lib/rucio/tests/inputs/__init__.py
  lib/rucio/tests/test_replica_sorting.py
  lib/rucio/web/rest/flaskapi/v1/replicas.py
Owners: @bari12, @bziemons

Replicas: fix geoip sorting. Closes #5133
  lib/rucio/core/replica_sorter.py
  lib/rucio/tests/inputs/GeoLite2-City-Test.tar.gz
  lib/rucio/tests/inputs/__init__.py
  lib/rucio/tests/test_replica_sorting.py
  lib/rucio/web/rest/flaskapi/v1/replicas.py
Owners: @bari12, @bziemons

Clients: fix exception on download --pfn. Closes #5178
  bin/rucio
  lib/rucio/client/downloadclient.py
  lib/rucio/tests/test_bin_rucio.py
Owners: @mlassnig, @joeldierkes

Clients: fix exception on download --pfn. Closes #5178
  bin/rucio
  lib/rucio/client/downloadclient.py
  lib/rucio/tests/test_bin_rucio.py
Owners: @mlassnig, @joeldierkes

Clients: do not set default transfer speed in download-pfn. Closes #5185
  bin/rucio
Owners: @mlassnig, @joeldierkes

Clients: do not set default transfer speed in download-pfn. Closes #5185
  bin/rucio
Owners: @mlassnig, @joeldierkes

Dark reaper improvements due to DB load : Closes #5192
  lib/rucio/core/quarantined_replica.py
  lib/rucio/daemons/reaper/dark_reaper.py
  lib/rucio/tests/test_quarantined_replica.py
Owners: @bari12, @cserf

Dark reaper improvements due to DB load : Closes #5192
  lib/rucio/core/quarantined_replica.py
  lib/rucio/daemons/reaper/dark_reaper.py
  lib/rucio/tests/test_quarantined_replica.py
Owners: @bari12, @cserf

REST & API: Change the `credentials` api docs to the OpenApi format #4992
  lib/rucio/web/rest/flaskapi/v1/credentials.py
Owners: @bziemons

REST & API: Change the `credentials` api docs to the OpenApi format #4992
  lib/rucio/web/rest/flaskapi/v1/credentials.py
Owners: @bziemons

Testing: Fix add_header job bug #5197
  .github/workflows/autotest.yml
Owners: @maany, @joeldierkes

Testing: Fix add_header job bug #5197
  .github/workflows/autotest.yml
Owners: @maany, @joeldierkes

Transfers: source replica expression on intermediate hops. Closes #5170
  lib/rucio/core/request.py
  lib/rucio/core/transfer.py
  lib/rucio/tests/test_conveyor.py
Owners: @rcarpa

Transfers: don't consider intermediate hops for submission
  lib/rucio/core/transfer.py
Owners: @rcarpa

Transfers: don't consider intermediate hops for submission
  lib/rucio/core/transfer.py
Owners: @rcarpa

Transfers: source replica expression on intermediate hops. Closes #5170
  lib/rucio/core/request.py
  lib/rucio/core/transfer.py
  lib/rucio/tests/test_conveyor.py
Owners: @rcarpa

Transfers: try to detect concurrent multihop submissions. Closes #5028
  lib/rucio/core/transfer.py
  lib/rucio/tests/test_transfer.py
Owners: @rcarpa

Transfers: try to detect concurrent multihop submissions. Closes #5028
  lib/rucio/core/transfer.py
  lib/rucio/tests/test_transfer.py
Owners: @rcarpa

Tests: add missing call to finisher in conveyor test
  lib/rucio/tests/test_conveyor.py
Owners: none

Tests: add missing call to finisher in conveyor test
  lib/rucio/tests/test_conveyor.py
Owners: none

Transfers: delete fts-throttler. Closes #5203
  bin/rucio-conveyor-fts-throttler
  etc/rucio.cfg.template
  etc/rucio_multi_vo.cfg.template
  lib/rucio/daemons/conveyor/fts_throttler.py
  lib/rucio/tests/test_daemons.py
Owners: @mlassnig, @joeldierkes, @rcarpa

Transfers: delete fts-throttler. Closes #5203
  bin/rucio-conveyor-fts-throttler
  etc/rucio.cfg.template
  etc/rucio_multi_vo.cfg.template
  lib/rucio/daemons/conveyor/fts_throttler.py
  lib/rucio/tests/test_daemons.py
Owners: @mlassnig, @joeldierkes, @rcarpa

implemented and tested removed unneeded NotFound exception checking/raising in list_dataset_replicas_bulk() upated header added more headers
  lib/rucio/api/replica.py
  lib/rucio/client/replicaclient.py
  lib/rucio/core/replica.py
  lib/rucio/web/rest/flaskapi/v1/replicas.py
Owners: @bziemons, @mlassnig

REST & API: Change the `export` api docs to the OpenApi format #4992
  lib/rucio/web/rest/flaskapi/v1/export.py
Owners: @bziemons

REST & API: Change the `export` api docs to the OpenApi format #4992
  lib/rucio/web/rest/flaskapi/v1/export.py
Owners: @bziemons

.github/CODEOWNERS:

# Code owner specification in Rucio
#
# Please consult the contribution guide for general contribution guidelines https://rucio.cern.ch/documentation/contributing
#
# In addition to peer-review, which is open to the entire Rucio community, we also notify the respective component leads to review pull requests involving their components.
# Component leads: https://github.com/rucio/rucio/wiki

# List of components:
# Some components are out of the alphabetical order due to precedence of CODEOWNER files

# Core & Internals (This goes first and is a catch-all for core)
/lib/rucio/core/                        @bari12
/lib/rucio/common/                      @bari12

# Clients
/lib/rucio/client/baseclient.py         @mlassnig
/lib/rucio/client/uploadclient.py       @mlassnig
/lib/rucio/client/downloadclient.py     @mlassnig
/lib/rucio/client/                      @mlassnig
/bin/                                   @mlassnig @joeldierkes

# ----

# Authentication & Authorisation
/lib/rucio/client/accountclient.py      @mlassnig
/lib/rucio/api/authentication.py        @mlassnig
/lib/rucio/api/account.py               @mlassnig
/lib/rucio/api/permission.py            @mlassnig
/lib/rucio/core/account.py              @mlassnig
/lib/rucio/core/authentication.py       @mlassnig
/lib/rucio/daemons/oauthmanager/        @mlassnig

# Consistency checks
/lib/rucio/daemons/auditor/             @dchristidis

# Data Pre-Placement
/lib/rucio/daemons/c3po/                @bari12

# Database
/lib/rucio/db/                          @mlassnig

# Dataset deletion
/lib/rucio/daemons/undertaker/          @bari12

# Deletion
/lib/rucio/daemons/reaper/              @cserf

# DIRAC

# Docker & Kubernetes

# Documentation

# Functional tests
/lib/rucio/daemons/automatix/           @cserf

# Life time model
/lib/rucio/daemons/atropos/             @dchristidis

# Messaging
/lib/rucio/core/message.py              @mlassnig
/lib/rucio/daemons/hermes/              @mlassnig

# Monitoring & Logging

# Multi VO

# Policies

# Probes & Alarms

# Protocols
/lib/rucio/rse/                         @mlassnig

# Rebalancing

# Recovery
/lib/rucio/daemons/badreplicas/         @cserf
/lib/rucio/daemons/replicarecoverer/    @cserf

# Release management

# Replicas
/lib/rucio/core/replica.py              @mlassnig

# REST & API
/lib/rucio/api/                         @bziemons
/lib/rucio/web/                         @bziemons

# Rules
/lib/rucio/client/ruleclient.py         @bari12
/lib/rucio/api/rule.py                  @bari12
/lib/rucio/core/rule*                   @bari12
/lib/rucio/daemons/judge/               @bari12

# Subscriptions
/lib/rucio/core/subscription.py         @cserf
/lib/rucio/client/subscriptionclient.py @cserf
/lib/rucio/daemons/transmogrifier/      @cserf

# Testing
/.github/                               @maany @joeldierkes
/etc/docker/test/                       @maany @joeldierkes
/lib/rucio/tests/conftest.py            @maany @joeldierkes
/lib/rucio/tests/ruciopytest/           @maany @joeldierkes
/tools/github/                          @maany @joeldierkes
/tools/test/                            @maany @joeldierkes

# Traces
/lib/rucio/core/trace.py                @mlassnig
/lib/rucio/daemons/tracer/              @mlassnig

# Transfers
/lib/rucio/core/transfer.py             @rcarpa
/lib/rucio/core/request.py              @rcarpa
/lib/rucio/daemons/conveyor/            @rcarpa
/lib/rucio/transfertool/                @rcarpa

# WebUI
/lib/rucio/web/ui/                      @maany
